@import url('https://fonts.googleapis.com/css2?family=Inter&family=Kavivanar&family=Keania+One&family=Raleway:ital,wght@0,400;0,700;0,800;1,300&display=swap');

html{
	scroll-behavior: smooth;
}

body{
	margin: 0px;
	padding: 0px;
	font-family: 'Kavivanar','Raleway','Inter';
	background-color: #EBDECB;
	font-family: 'Kavivanar', 'Raleway';
}
.container-1{
    max-width: 1392px;
    height: 148px;
    margin: 0 auto;
}
.container-2{
	max-width: 1380px;
	height:	380px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.header{
	background-color: #FFFFFF;
	height: 148px;
}
.header-account{
	box-shadow: #000000 0px 2px 50px ; 
}
.header_2{
	background-image: url("img/bg-main.svg");
	height: 600px;
}




/* LSI and menu START */


/* LSI */
.lsi{
	padding-top: 24px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 18px;
}
.lsi input{
	font-size:16px ;
	font-weight: 400;
}
.container-1 input {
	padding-left:53px;
	background-image:url(img/search.svg);
	background-size: 24px 24px;
	background-repeat: no-repeat;
	background-position: 20px;
  }
/* input{
	background-repeat: no-repeat;
	background-image:url(img/search-normal.svg) ;
	background-position: 20px;
	width: 24px;
	height: 24px; 
}*/
.input_search{
	border: #000000 solid 1px;
	border-radius: 800px;
	justify-content: center;
	width: 757px;
	height: 50px;
}
.icons{
	display: flex;
	justify-content: space-between;
	column-gap: 60px;
}


/* Menu */
.menu{
	display: flex;
	justify-content: center;
}
.menu_ul{
	display: flex;
	column-gap: 52px;
	justify-content: space-between;
}

.menu ul:hover a{
	color: #575757;
	transition: 0.2s ease-in-out;
}
.menu ul:hover a:hover{
	color: rgb(158, 53, 53);
	text-decoration: underline;
	text-underline-offset: 6px;
	transition: 0.2s ease-in-out;
}



.menu_ul a{
	text-decoration: none;
	color: #000000;
}
.menu_text{
	font-weight: 400;
	font-size: 24px;
}


/* LSI and menu CLOSE */




/* Btn and text START */


/* Btn */
.text_btn{
	margin-top: 176px;
	width:	470px;
	height: 244px;
}
.text{
	max-width:	470px;
	max-height: 147px;
	background-color: #FFFFFF;
	margin-bottom: 48px;
	text-align: center;
	border-radius: 50px 0px 50px 0px;
}
.btn{
	position: relative;
	width:	275px;
	height: 50px;
	border-radius: 88px;
	background-color: #FFFFFF;
	left: 98px;
	font-size: 26px;
	font-weight: 600;
}


/* Text weight and size */
.p1{
	font-weight: 700;
	font-size: 58px;
	color: #C6B168;
	;
}
.p2{
	font-weight: 300;
	font-size: 40px;
}


/* Btn and text CLOSE */





/* Img and slider START */


/* Img */
.img_slider{
	margin-top: 103px;
	max-width: 880px;
	max-height: 350px;
}


/* Navigation */
.nav-slider{
	position: relative;
	display: flex; 
	left: 665px;
	background-color: #FFFFFF;
	justify-content: space-between;
	column-gap: 8px;
	width: 200px;
	height: 25px;
	align-items: center;
	border-radius: 50px 0px 70px 50px;
	padding: 5px;
}
.nav-slider .bar{
	width: 20px;
	height: 20px;
	border: #3A3A3A solid 1.5px;
	border-radius: 50px;
}
.nav-slider .bar:hover{
	background-color: #000000;
}
.slides{
	visibility: hidden;
}


/* Footer */
.footer{
	width: 100%;
	margin: 0 auto;
	background-color: #FFFFFF;
	box-shadow: #000000 0px 0px 50px;
}
.container-foot{
	max-width: 1392px;
	padding-bottom: 24px;
	margin: 0 auto;
	
}
.upper-footer{
	width: 1392px;
	height: 200px;
	display: flex;
	justify-content: space-between;
	column-gap: 136px;
	margin-bottom: 38px;
	align-items: center;
}
.under-footer{
	width: 1392px;
	height: 29px;
	display: flex;
	justify-content: space-between;
}
.p-icons{
	display: flex;
	justify-content: space-between;
	column-gap: 20px;
}
.messages-imgs{
	display: flex;
	justify-content: space-between;
	column-gap: 14px;
}

.footer-text-2 ul:hover a{
	color: #575757;
	transition: 0.2s ease-in-out;
}
.footer-text-2 ul:hover a:hover{
	color: rgb(158, 53, 53);
	box-shadow: 0.2px 0 0 currentColor;
	text-decoration: underline;
	text-underline-offset: 6px;
	transition: 0.2s ease-in-out;
}

.footer-text-3 ul:hover a{
	color: #575757;
	transition: 0.2s ease-in-out;
}
.footer-text-3 ul:hover a:hover{
	color: rgb(158, 53, 53);
	box-shadow: 0.2px 0 0 currentColor;
	text-decoration: underline;
	text-underline-offset: 6px;
	transition: 0.2s ease-in-out;
}
.footer-text-4 ul:hover a{
	color: #575757;
	transition: 0.2s ease-in-out;
}
.footer-text-4 ul:hover a:hover{
	color: rgb(158, 53, 53);
	box-shadow: 0.2px 0 0 currentColor;
	text-decoration: underline;
	text-underline-offset: 6px;
	transition: 0.2s ease-in-out;
}
.footer-text-5 ul:hover a{
	color: #575757;
	transition: 0.2s ease-in-out;
}
.footer-text-5 ul:hover a:hover{
	color: rgb(158, 53, 53);
	box-shadow: 0.2px 0 0 currentColor;
	text-decoration: underline;
	text-underline-offset: 6px;
	transition: 0.2s ease-in-out;
}


.footer-text-1{
	text-align: center;
}
.footer-text-5 a{
	color: #000000;
}


/* Paragraphs */
.apeal{
	font-size: 20px;
	font-weight: 400;
	font-family: 'Raleway';
	margin-bottom: 18px;
}
.p-number{
	font-size: 24px;
	font-weight: 400;
	font-family: 'Radio Canada';
}
.f-logo{
	margin-bottom: 25px;
}
.f-ps a{
	color: #000000;
}
.f-ps p{
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Raleway';
}

.main-f-text{
	font-size: 20px;
	font-weight: 400;
	font-family: 'Raleway';
	margin-bottom: 19px;
}
/* Footer */


/* TEST START*/
/* Popup-User-Enter */
.popup{
	position: absolute;
	top: 0px;
	left: 0px;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0,0,0,0.4);
}
.popup:target{
    opacity: 99;
    visibility: visible;
    transition: 0.5s all;
}


.container-Enter{
    position: relative;
    top: 150px;
	max-width: 912px;
	height: 464px;
	margin: 0 auto;
	background-color: #FFFFFF;
	border-radius: 15px;
    border: #BABABA solid 1px;
}
.content-enter{
	max-width: 528px;
	height: 384px;
	border: #BABABA solid 1px;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: #000000 4px 4px 20px;
}
.content{
	max-width: 328px;
	height: 336px;
}



.img-close{
	width: 24px;
	height: 24px;
	position: absolute;
	top: 14px;
	right: 14px;
}

.text-close{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 328px;
	height: 60px;
	margin-bottom: 12px;
	border: #000000 solid 1px;
	border-radius: 15px 15px 0px 0px;
}
.text-close p{
	font-size: 24px;
	font-weight: 400;
	font-family: 'Raleway';
}


.email-enter{
	width: 322px;
	height: 58px;
	margin-bottom: 20px;
}
.email-enter p{
	font-size: 12px;
	font-weight: 600;
	font-family: 'Raleway';
	margin-bottom: 4px;
}
.email-enter input[type="email"]{
	width: 328px;
	height: 40px;
	background-color: #ECECEC;
	border-radius: 10px;
	padding-left: 13px;
	font-family: 'Italic';
	font-size: 14px;
	font-weight: 400;
}
.email-enter input[type="email"]:valid{
	border: none;
	outline:#FF3F3F solid 1px;
}


.pass-enter p{
	font-weight: 600;
	font-size: 12px;
	font-family: 'Raleway';
	margin-bottom: 4px;
}
.pass-enter input[type="password"]{
	width: 328px;
	height: 40px;
	background-color: #ECECEC;
	border-radius: 10px;
	font-size: 14px;
	font-weight: 400;
	padding-left: 13px;
	font-family: 'Italic';
}
.pass-enter input:valid{
	border: none;
	outline:#FF3F3F solid 1px;
}



.pass-enter{
    margin-bottom: 12px;
}
.round-remember{
    margin-bottom: 14px;
}
.round-remember label{
	font-weight: 400;
	font-size: 12px;
	font-family: 'Raleway';
}


.btn-reg-btn{
    width: 328px;
    height: 78px;
}
.btn-reg-btn button{
    width: 328px;
    height: 41px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px 133.5px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Raleway';
    margin-bottom: 18px;
}
.btn-reg-btn a{
    color: #712525;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Raleway';
    display: flex;
    justify-content: center;
}
.user{
    width: 24px;
    height: 24px;
}




/* SignUP START*/
.popup-up{
	position: absolute;
	top: 0px;
	left: 0px;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    height: 100%;
	opacity: 0;
	visibility: hidden;
    background-color: rgba(0,0,0,0.4);
}
.popup-up:target{
    opacity: 99;
    visibility: visible;
    transition: 0.5s all;
}


.text-close-up{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 328px;
	height: 60px;
	margin-bottom: 24px;
	border: #000000 solid 1px;
	border-radius: 15px 15px 0px 0px;
	font-size: 24px;
	font-family: 'Raleway';
	font-weight: 400;
}
.img-close{
	width: 24px;
	height: 24px;
	position: absolute;
	top: 14px;
	right: 14px;
}


.btn-reg-enter a{
    color: #712525;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Raleway';
}
.btn-reg-enter{
    width: 322px;
    height: 76px;
}
.btn-reg-enter button{
    width: 322px;
    height: 42px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px 133.5px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Raleway';
    margin-bottom: 24px;
}
.p-a{
	display: flex;
	column-gap: 12px;
	align-items: center;
}
.pass-enter-up{
    margin-bottom: 26px;
}
.pass-enter-up p{
	font-weight: 600;
	font-size: 12px;
	font-family: 'Raleway';
	margin-bottom: 4px;
}
.pass-enter-up input[type="password"]{
	width: 282px;
	height: 40px;
	background-color: #ECECEC;
	border-radius: 10px;
	font-size: 14px;
	font-weight: 400;
	padding-left: 13px;
	font-family: 'Italic';
}
.pass-enter-up input:valid{
	border: none;
	outline:#FF3F3F solid 1px;
}
/* SignUP END */

/* TEST END*/

/* TEST-2 START */
	.account-personal-data{
		background-color: #FFFFFF;
		height: 927px;
	}
	.account-display{
		max-width: 1392px;
		height: 695px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}





	/* LIFSTofBLOCKS START*/
	.listOFblocks{
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		margin-top: 6px;
	}
	/* PROFILE START */
	.profile{
		display: flex;
		align-items: center;
		width: 191px;
		height: 48px;
		background-color: #FFFFFF;
		border: #C4C1BC solid 2px;
	} 
	/* PROFILE END */

	/* My-orders START */
	.My-orders{
		display: flex;
		align-items: center;
		width: 191px;
		height: 48px;
		background-color: #FFFFFF;
		border: #C4C1BC solid 2px;
	}
	/* My-orders END */

	/* Wish-list START */
	.Wish-list{
		display: flex;
		align-items: center;
		width: 191px;
		height: 48px;
		background-color: #FFFFFF;
		border: #C4C1BC solid 2px;
	}
	/* Wish-list EDN */

	/* History START */
	.history{
		display: flex;
		align-items: center;
		width: 191px;
		height: 48px;
		background-color: #FFFFFF;
		border: #C4C1BC solid 2px;
	}
	/* History END */

	/* notification START */
	.notification{
		display: flex;
		align-items: center;
		width: 191px;
		height: 48px;
		background-color: #FFFFFF;
		border: #C4C1BC solid 2px;
	}
	/* notification END */



	/* FOR ALL START*/

	/* ТУТ БУДЕ прив'язка на айді */
	.focus:focus{
		background-color: #74BDD3;
	}

	.img-text{
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 12px;
		margin-left: 12px;
	}
	.img-text img{
		width: 24px;
		height: 24px;
	}
	.img-text p{
		font-size: 16px;
		font-family: 'Raleway';
		font-weight: 400;
		height: 16px;
	}

	.empty{
		display: flex;
		align-items: center;
		width: 191px;
		height: 48px;
		background-color: #FFFFFF;
		border: #C4C1BC solid 2px;
	}
	/* FOR ALL END */

	/* LIFSTofBLOCKS END*/


	/* DISPLAY START-personal-data */
	.account-display{
		margin-top: 36px;
	}
	.personal-p{
		text-align: center;
		font-family: 'Inter';
		font-weight: 600;
		font-size: 32px;
		margin-bottom: 36px;
	}
	.blocks-personal{
		display: flex;
		flex-direction: column;
		row-gap: 30px;
	}

	

	/* FOR ALL START */
	.bg-personal{
		width: 1107px;
		height: 100px;
		background-color: #FFFFFF;
		border: #BABABA solid 1px;
		border-radius: 5px;
	}
	.svg-text-personal{
		display: flex;
		justify-content: space-between;
		column-gap: 28px;
		align-items: center;
	}
	.svg-text-personal img{
		width: 48px;
		height: 48px;
	}
	.svg-text-personal p{
		font-size: 20px;
		font-weight: 400;
		font-family: 'Inter';
	}
	/* FOR ALL END  */

	/* BLOCK-personal-1 START*/
	.block-personal{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 26px 36px;
	}
	/* BLOCK-personal-1 END*/

	/* BLOCK-personal-2 START*/
	.block-personal2{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 26px 36px;
	}
	/* BLOCK-personal-2 END*/

	/* BLOCK-personal-3 START*/
	.block-personal3{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 26px 36px;
	}
	/* BLOCK-personal-3 END*/

	/* BLOCK-personal-4 START*/
	.block-personal4{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 26px 36px;
	}
	/* BLOCK-personal-4 END*/

	/* BLOCK-personal-5 START*/
	.block-personal5{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 26px 36px;
	}
	/* BLOCK-personal-5 END*/

	/* DISPLAY END-personal-data */







/* TEST-2 END */



/* TEST-3 START */
/* .My-orders CHOOSE START*/
.choose-My-orders{
	width: 1107px;
	height: 36px;
	border: #BABABA solid 1px;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}
.text-my-orders{
	display: flex;
	justify-content: space-between;
	column-gap: 40px;
	width: 347px;
	margin-left: 48px;
	
}
.text-my-orders a{
	color: #000000;
}
/* My-orders CHOOSE END*/


/* My-orders EMPTY START*/
.empty-my-orders{
	width: 1107px;
	height: 554px;
	border: #BABABA solid 1px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-btn-my-orders{
	text-align: center;
}
.sorry{
	font-size: 28px;
	font-weight: 600;
	font-family: 'Inter';
	text-align: center;
	margin-bottom: 36px;
}
.mini-sorry{
	font-size: 20px;
	font-weight: 400;
	font-family: 'Inter';
	margin-bottom: 58px;
}
.empty-my-orders a{
	color: #000000;
}
/* My-orders EMPTY END*/
/* TEST-3 END */



/* TEST-4 START */

/* My-orders EMPTY START*/
.empty-my-wish{
	width: 1107px;
	height: 620px;
	border: #BABABA solid 1px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-btn-my-orders{
	text-align: center;
}
.sorry{
	font-size: 28px;
	font-weight: 600;
	font-family: 'Inter';
	text-align: center;
	margin-bottom: 36px;
}
.mini-sorry{
	font-size: 20px;
	font-weight: 400;
	font-family: 'Inter';
	margin-bottom: 58px;
}

.emw-btn{
	width: 175px;
	height: 54px;
	background-color: #74BDD3;
	border-radius: 10px;
	font-size: 20px;
	font-weight: 400;
	font-family: 'Inter';
	transition: all 0.2s ease-in-out;
}
.emw-btn:hover{
	color: rgba(255, 255, 255, 1);
  	box-shadow: 0 5px 15px rgb(82, 179, 192);
}
.empty-my-wish a{
	color: #000000;
}
/* My-orders EMPTY END*/
/* TEST-4 END */

/* WISH LIST POPUP START */
.popup-wish-list{
	position: absolute;
	top: 0px;
	left: 0px;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    height: 100%;
	opacity: 0;
	visibility: hidden; 
    background-color: rgba(0,0,0,0.4);
}
.popup-wish-list:target{
    opacity: 99;
    visibility: visible;
    transition: 0.5s all;
}
.popup-wish-container{
	position: relative;
	top: 300px;
	margin: 0 auto;
	max-width: 440px;
	height: 250px;
	background-color: #FFFFFF;
	border: #C4C1BC solid 1px;
	border-radius: 10px;
	padding: 12px;
}

.close-text-wish{
	display: flex;
	justify-content: space-between;
	margin-bottom: 42px;
}
.close-text-wish img{
	width: 24px;
	height: 24px;
}
.close-text-wish p{
	font-size: 24px;
	font-family: 'Inter';
	font-weight: 600;
}


.input-p-create-list{
	margin-bottom: 50px;
}
.input-p-create-list p{
	font-size: 14px;
	font-weight: 400;
	font-family: 'Inter';
	margin-bottom: 4px;
}
.input-p-create-list input[type="text"]{
	width: 368px;
	height: 41px;
	border: #C4C1BC solid 1px;
	border-radius: 10px;
	padding: 11px 12px;
	font-size: 16px;
	font-family: 'Inter';
	font-weight: 400;
}

.btn-create-list-my{
	width: 110px;
	height: 38px;
	background-color: #74BDD3;
	border-radius: 10px;
}
.a-list{
	color: #000000;
}
/* WISH LIST POPUP END*/







.test-absolute{
	position: absolute;
}
.img-test{
	width: 100px;
	height: 50px;
	background-color: blue;
}
.test-btn{
	position: absolute;
	top: 12px;
	left: 12px;
	width: 20px;
	height: 16px;
	background-color: #000000;
}


.a-wish .Wish-list{
	color: rgba(255, 255, 255, 1);
	background-color: #74BDD3;
  	box-shadow: 0 5px 15px rgb(82, 179, 192);
	border: none;
	border-radius: 8px;
}

.a-data button{
	transition: all 0.2s ease-in-out;
}
.a-wish button .img-text p{
	color: rgba(255, 255, 255, 1);
}
.a-data button:hover{
	color: rgba(255, 255, 255, 1);
	background-color: #74BDD3;
  	box-shadow: 0 5px 15px rgb(82, 179, 192);
	border: none;
	border-radius: 8px;
}
.a-data button:hover .img-text p{
	color: rgba(255, 255, 255, 1);
}
.a-data p{
	color: #000000;
}






/* POPUP-CART */
.popup-cart{
	position: absolute;
	top: 0px;
	left: 0px;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
	visibility: hidden;
	z-index: 100;
}	
.container-cart{
	position: relative;
    top: 150px;
	width: 912px;
	height: 547px;
	margin: 0 auto;
	background-color: #FFFFFF;
	border-radius: 15px;
    border: #BABABA solid 1px;
}
.p-kosh{
	font-family: 'Raleway';
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	margin-top: 16px;
}


.content-cart{
	margin-top: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content-cart p:nth-child(1){
	font-family: 'Inter';
	font-size: 28px;
	font-weight: 600;
}
.content-cart p:nth-child(2){
	font-family: 'Inter';
	font-size: 20px;
	font-weight: 400;
}


.p-cart{
	display: flex;
	flex-direction: column;
	row-gap: 36px;
	margin-bottom: 36px;
}
.content-cart button{
	width: 353px;
	height: 51px;
	background-color: #F40000;
	opacity: 72%;
	padding-left: 16px;
	padding-right: 16px;
	color: white;
	font-size: 18px;
	font-family: 'Raleway';
	font-weight: 400;
	border-radius: 8px;
}
.X-btn{
	width: 24px;
	height: 24px;
	position: absolute;
	top: 14px;
	right: 14px;
}
/* POPUP-CART */